@media(min-width: 940px){
    .is-hidden--vw-large{
        display: none !important;
    }
}
@media(min-width: 939px){
    body{
        min-height: 100vh;
    }
    .is-hidden--vw-small{
        display: none !important;
    }
}
@media(min-width: 940px){
    .l-header.is-visible{
        opacity: 1.0;
        transform: translateX(0px);
        visibility: visible;
    }
}
@media(min-width: 940px){
    .l-header{
        opacity: 0.0;
        visibility: hidden;
        transform: translateX(calc(-45px * var(--sw)));
        transition-property: transform, opacity, visibility;
        transition-duration: 625ms;
        transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    }
}
